<form [formGroup]="envelopeForm" (ngSubmit)="sendEnvelope()">
    <h2 class="text-center text-primary">Envelope</h2>
    <hr />
    <div class="form-group">
        <input type="text" class="form-control" formControlName="agentName" placeholder="Agent Name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="agentEmail" placeholder="Agent Email" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="producerName" placeholder="Producer Name" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="producerEmail" placeholder="Producer Email" />
    </div>
    <div class="text-center">
        <input class="form-control" formControlName="documentBase64" type="file" 
                (change)="onUpload($event)">
      
        
    </div>

    <div class="form-group text-center mt-2">
        <button
          class="btn btn-success"          
          type="submit"
        >
          Send Envelope
        </button>
    </div>
</form>